.App-logo {
  height: 40px;
  color: #f55263;
  text-transform: none;
  font-weight: normal;
  margin-top: 0;
}

.App-header {
  padding: 20px 10%;
  color: white;
  text-transform: uppercase;
}

.App-title {
  font-size: 1em;
}

.App-intro {
  font-size: large;
}

footer {
  bottom: 0;
  background-color: #3c3c3c;
  padding:20px 10%;
  width: 80%;
  flex-shrink: 0;
}

footer .App-logo {
  height: 0;
}