body{
    font-size: 16px;
}


.searchby {
    margin:20px 0;
    font-weight: bold;
    padding-bottom: 30px;
}

.searchby .title {
    float: left;
    margin-top: 6px;
    margin-right: 5px;
}

.searchby label {
    float:left;
    width: auto;
    background-color:#3c3c3c;
    border-radius: 2px;
    margin: 0px 20px;
}

.searchby label span {
    text-align:center;
    padding:4px 20px;
    border-radius: 2px;
    display:block;
}

.searchby label input {
    position:absolute;
    top:-20px;
}

.searchby input:checked + span {
    background-color:#f55263;
    color:#F7F7F7;
}

.searchButton {
    padding: 10px 70px;
    float: right;
    background-color: #f55263;
    color: white;
    font-weight: bold;  
    font-size: 16px;
}

.searchBar {
    width: 100%;
    height: 40px;
    outline: none;
    border-bottom-color: #f55263;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    background-color: black;
    text-indent: 20px;
    font-size: 16px;
    color: white;

}

.statusBar {
    background-color: #f5f5f5;
    padding: 10px 10%;
    color: #3c3c3c;
    font-weight: bold;
}

.statusBar p {
    margin: 0;
}

.statusBar .searchby {
    float: right;
    margin: 0;
    padding-bottom: 10px;
}

.statusBar .title {
    margin-top: 0;
}

.statusBar label {
    background-color: transparent;
    margin: 0 10px;
}

.statusBar input:checked + label {
    color:#f55263;
}

.resultBody {
    padding: 10px 10%;
    display: flex;
    flex-wrap: wrap;
}

.movieItem {
    width: 27%;
    margin: 20px;
}

.movieItem img {
    width: 100%;
}


.movieItem .year {
    float: right;
    border: solid 1px gray;
    padding: 5px;
    font-size: 10px;
    font-weight: bold;
    border-radius: 5px;
}

.movieItem .title {
    text-transform: capitalize;
    font-weight: bold;
}

.movieItem p {
    margin: 5px 0;
    font-size: 11px;
    color: gray;
}

.movieItem .movieDescription {
    margin-top: 5px;
    color: #3c3c3c;
}

.movieDetails {
    text-transform: none;
}

.movieDetails img {
    max-width: 30%;
    max-height: 300px;
}

.movieText {
    display: inline-block;
    width: 60%;
    margin-left: 30px;
    vertical-align: top;
    font-size: 14px;
    padding-top: 30px;
}

.movieText h2 {
    margin-bottom: 0;
    display: inline;
}

.movieText .rate {
    margin-left: 20px;
    font-size: 16px;
    border: solid 1px #b9d1a0;
    color: #b9d1a0;
    border-radius: 50%;
    padding: 5px;
}

.movieText .awards {
    margin-top: 2px;
}

.movieText .releaseYear {
    font-weight: bold;
}

.movieText .duration {
    font-weight: bold;
    margin-left: 40px;
}

.searchNavigator {
    position: absolute;
    top: 10px;
    right: 20%;
    outline: none;
    color: #f55263;
    font-weight: bold;
    background-color: white;
    padding: 10px;
}